<ion-view view-title="我的课程">
  <ion-header-bar class="bar-stable" style="background-color: white;border-bottom: 1px solid #eee">
    <span style="position: absolute;left: 0px;top: 0px;height: 44px;width: 80px;text-align: left;" on-touch="back()">
      <i class="ion-chevron-left" style="line-height: 44px;color: #787878;padding-left: .2rem"></i>
    </span>
  
    <span style="margin: 0 auto;line-height: 32px;color: #787878">我的课程</span>
  </ion-header-bar>
  <ion-content lazy-scroll overflow-scroll="true" style="overflow:auto;background: white;" class="udf_scroller">
      <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()" distance="1%">
      </ion-refresher>
      <ul class="personage_center_my_course_wap" ng-repeat="day_list in data.course">
        <li ng-repeat="list in day_list.course" on-tap="enter_course_detail(list.product_id)">
          <img style="width:20%;float:left;margin-top:8px" src="{{list.img_path}}">
          <div class="course_detail_wap">
            <p style="padding-left:2px">{{day_list.day_time}}</p>
            <p>{{list.name}}</p>
            <p>学习至 <span class="tit">{{list.title}}</span></p>
          </div>
          <div class="canvas_wap">
            <div class="pro">{{list.jindu}}%</div>                 
            <canvas style="float:right" class="myCanvas" width="50" height="50" progress="5">
            </canvas>
          </div>
          <div style="clear:both"></div>  
        </li>
      </ul>
      
  </ion-content>
</ion-view>
