<ion-nav-view name="content-view"></ion-nav-view> 
     
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': hideTabs}"  >
  <ion-tab title="首页" icon-off="ion-android-home" icon-on="ion-android-home" href="#/tab/index">
  </ion-tab>
  
  <ion-tab title="课程" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes-outline" href="#/tab/course">
  </ion-tab>
  
  <ion-tab title="题库" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/exercise_center">
  </ion-tab>

  <ion-tab title="我的" icon-off="ion-person" icon-on="ion-person" href="#/tab/person">
  </ion-tab>
</ion-tabs>
